.category .images{
   display: flex;
   justify-content: space-around;
}
.category .images div{
    height: 70vh;
    width: 25%;
    background-position: center;
    background-size: cover;
}
.category .images div:nth-child(1){
    background-image: url('../../public/men_section.jpg');
}
.category .images div:nth-child(2){
    background-position-x: -160px;
    background-image: url('../../public/women_section.jpg');
}
.category .images div:nth-child(3){
    background-image: url('../../public/kid_section.jpg');
}
.category .titles{
    display: flex;
    justify-content: space-around;
}
.category .titles div{
    padding: 30px;
    font-weight: 600;
}
@media screen and (max-width: 800px) {
    .category .images{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
     }
     .category .images div{
         height: 70vh;
         width: 80%;
         padding: 20px;
         margin: 20px;
         background-position: center;
         background-size: cover;
     }
     .category .images div:nth-child(1){
         background-image: url('../../public/men_section.jpg');
     }
     .category .images div:nth-child(2){
         background-position-x: -160px;
         background-image: url('../../public/women_section.jpg');
     }
     .category .images div:nth-child(3){
         background-image: url('../../public/kid_section.jpg');
     }
     .category .titles{
         display: none;
         justify-content: space-around;
     }
     .category .titles div{
         padding: 30px;
         font-weight: 600;
     }
}